numpy
Pillow
huggingface_hub
einops
safetensors

numba

onnxruntime
pyparsing
importlib_metadata

xformers
faiss-gpu
pandas
prettytable
pytorch-lightning
pytorch-metric-learning
torchmetrics

submodules/simple-knn
submodules/diff-gaussian-rasterization
opencv-python
munch
trimesh
evo
open3d
torchmetrics
imgviz
PyOpenGL
glfw
PyGLM
wandb
lpips
rich
ruff
